<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails du Produit</title>
    <link rel="stylesheet" href="product-details.css">
</head>
<body>
    <div class="container">
        <h2>Détails du Produit</h2>
        <img src="../../assets/images/Products_images/image_template.png" alt="Product Image">
        <p><strong>Nom:</strong> Lorem ipsum dolor sit amet</p>
        <p><strong>Description:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><strong>Prix:</strong> 1000 FCFA</p>
        <p><strong>Quantité:</strong> 10</p>
        <!-- Autres détails du produit -->
    </div>
</body>
</html>
